@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-dark-500 text-white;
}



@layer base {
  input,textArea {
    @apply p-4 border-dark-100 border-[3px] bg-transparent rounded-lg;
  }
}