@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  @apply bg-white text-black;
}



@layer base {
  input,textArea {
    @apply p-4 border-dark-100 border-[3px] bg-transparent rounded-lg;
  }
}

h1, h2,h3, h4, h5, h6, p {
  @apply font-dmSans text-secondary-300;
}

p {
  @apply font-light font-dmSans text-base
}

h3 {
  @apply font-bold font-dmSans text-xl
}